<agm-map [zoom] = "15"
        [latitude] = "this.loc?.lat"
         [longitude] = "this.loc?.long"
         (mapClick)="onChoseLocation($event)" >
  <agm-marker
      [latitude]="pin.location.lat.$numberDecimal"
      [longitude]="pin.location.long.$numberDecimal"
      *ngFor="let pin of this.pins; let i=index">
  </agm-marker>
</agm-map>

<form (ngSubmit)="showLocation()">
  <input type="text" [(ngModel)]="this.loc.address" required [ngModelOptions]="{standalone: true}">
  <button type="submit">Show Location</button>
</form>
