<div style="text-align:center">
  <h1>
    Data Field
    {{pin.location.address}}
  </h1>


</div>


<table align="center" >
  <tr>
    <th><label for="Subject">Subject</label></th>
    <td><input id="Subject" type="text" class="form-control" [(ngModel)] = "pin.subject"></td>
  </tr>


  <tr>
    <th><label for="Category">Category</label></th>
    <td><select [(ngModel)] = "pin.type_of">
      <option value="1">Civilian</option>
      <option value="2">Medical</option>
      <option value="3">Fire Fighter</option>
      <option value="4">Disaster Relief</option>
      <option value="5">Infrastructure</option>
    </select></td>
  </tr>

  <tr>
    <th><label for="Priority">Priority</label></th>
    <td><select [(ngModel)] = "pin.priority">
      <option value="1">Low</option>
      <option value="2">Medium</option>
      <option value="3">High</option>
    </select></td>
  </tr>

  <tr>
    <th><label for="Location">Location</label></th>
    <td><input id="Subject" type="text" class="form-control" [(ngModel)] = "pin.location.address">
    <button class="btn btn-primary" (click)=" getPosition();">Current Location</button></td>
  </tr>

  <tr>
    <th><label for="name">Name</label></th>
    <td><input id="Subject" type="text" class="form-control" [(ngModel)] = "pin.contact.name"></td>
  </tr>

  <tr>
    <th><label for="phonenumber">Phone number</label></th>
    <td><input id="Subject" type="text" class="form-control" [(ngModel)] = "pin.contact.phone"></td>
  </tr>

  <tr>
    <th><label for="comment">Comment</label></th>
    <td><textarea id="comment" type="text" cols="30" rows="10" class="form_control" [(ngModel)] = "pin.comment"></textarea></td>
  </tr>

<tr>
  <th><button class="btn btn-primary">Respond</button></th>

  <td><button class="btn btn-primary" (click)="onPinCreate()">Submit</button></td>
</tr>

</table>
