<h1>{{pin.subject}}</h1>
<h1>{{pin.location.address}}</h1>
<h1>{{pin.contact.name}}</h1>
<h1>{{pin.category}}</h1>
<h1>{{pin.priority}}</h1>
<h1>{{pin.contact.phone}}</h1>
<h1>{{pin.comment}}</h1>

<h1>{{pin.location.address}}</h1>

<div style="text-align:center">
  <h1>
    Data Field
  </h1>
  <h2> Welcome {{role}}</h2>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<table align="center" style="width:80%">
  <tr>
    <th><label for="Subject">Subject</label></th>
    <td><input id="Subject" type="text" class="form-control" [(ngModel)] = "pin.subject"></td>
  </tr>


  <tr>
    <th><label for="Category">Category</label></th>
    <td><select [(ngModel)] = "pin.category">
      <option value="Medical">Medical</option>
      <option value="Infrastructure">Infrastructure</option>
      <option value="Disaster Relief">Disaster Relief</option>
    </select></td>
  </tr>

  <tr>
    <th><label for="Priority">Priority    </label></th>
    <td><select [(ngModel)] = "pin.priority">
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select></td>
  </tr>

  <tr>
    <th><label for="Location">Location</label></th>
    <td><input id="Subject" type="text" class="form-control" [(ngModel)] = "pin.location.address">
    <button class="btn btn-primary">Current Location</button></td>
  </tr>

  <tr>
    <th><label for="name">Name</label></th>
    <td><input id="Subject" type="text" class="form-control" [(ngModel)] = "pin.contact.name"></td>
  </tr>

  <tr>
    <th><label for="phonenumber">Phone number</label></th>
    <td><input id="Subject" type="text" class="form-control" [(ngModel)] = "pin.contact.phone"></td>
  </tr>

  <tr>
    <th><label for="comment">Comment</label></th>
    <td><textarea id="comment" type="text" cols="30" rows="10" class="form_control" [(ngModel)] = "pin.comment"></textarea></td>
  </tr>

<tr>
  <th><button class="btn btn-primary">Respond</button></th>

  <td><button class="btn btn-primary" (click)="onPinCreate()">Submit</button></td>
</tr>

</table>
