
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Disaster Relief Dashboard </h1>
    </div>
    <div class="col">
      <div class="container">
        <app-roles></app-roles>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container-fluid; width: 50%" >
        <app-datafield></app-datafield>
      </div>
    </div>
    <div class="col">
      <div class="container-fluid">
        <app-map></app-map>
      </div>
    </div>

  </div>
</div>
